/*
        Name: NUR YASMIN BINTI MOHD KAHAR
        Date: 1/7/2021
*/
h1 {
	text-align: center;
}
form {
	margin: auto;
	background-image: url(parcel.jpg);
	width: 50%;
	padding: 10px;
	font-family: arial, verdana, sans-serif.
}
input.fill {
	width: 100%;
	height:30px;
}
input[type=submit],[type=reset]{
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
}